* {
    margin: 0px;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    justify-content: space-between;
}

.second-navbar {
    height: 39px;
    background-color: #232f3e;
    display: flex;
}

.nav-logo {
    height: 50px;
    width: 130px;
    padding: 5px 5px 0px 5px;
    margin: 2px;
    margin-left: 10px;
}

.logo {
    background-image: url(images/logo_clone.png);
    height: 50px;
    width: 130px;
    background-size: cover;
}

.location {
    display: flex;
    margin: 2px;
    padding: 10px;
}

.border {
    border: 1px transparent solid;
}

.loc-icon {
    margin: 5px;
    padding-top: 5px;
}

.first-add {
    color: #cccccc;
    font-size: 12px;
}

.second-add {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;

}

.hover-effect:hover {
    border: 1px white solid;
}

.search-text {
    height: 23px;
    width: 350px;
    padding: 7px 10px 10px 0px;
    border: none;
    text-indent: 8px;
}

.drop-down-menu {
    height: 40px;
    width: 52px;
    border: none;
    background-color: #e6e6e6;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-glass {
    height: 40px;
    width: 45px;
    border: none;
    background-color: #f3a847;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.searchbox {
    padding: 10px;
    display: flex;
    align-items: center;
}

input:focus {
    outline: none;
}

.language-option {
    margin: 2px;
    padding: 20px 5px 0px 5px;
}

#lang-selector {
    background-color: transparent;
    color: #ffffff;
    border: none;
}

.top-line {
    font-size: 12px;
}

.bottom-line {
    font-size: 14px;
}

.right-detail {
    margin: 2px;
    padding: 12px;
}

.cart-detail {
    display: flex;
    align-items: center;
    gap: 5px;
}

.item-list {
    display: flex;
    margin: 2px;
    padding: 0px;
    list-style: none;
    color: #ffffff;
}

.items {
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
}

.options {
    color: #ffffff;
    display: flex;
    padding: 10px;
    margin: 2px;
    gap: 5px;
    font-weight: 600;
}

.box {
    height: 600px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%), url('images/box_image.jpg');
    background-size: cover;
}

.text {
    background-color: #ffffff;
    padding: 10px;
    margin: 0px 25px;
    position: relative;
    top: 40%;
    bottom: 60%;
    text-align: center;
    font-size: 14px;
}

.text-link {
    text-decoration: none;
    color: #007185;
    font-size: 14px;
}

.text-link:hover {
    text-decoration: underline;
    color: #d1701f;
}

.type-A-card {
    height: 315px;
    width: 310px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    gap: 10px;
    font-size: 12px;
}

.more-items {
    padding: 12px;
}

.inner-category {
    width: 115px;
    height: 135px;
    text-indent: 10px;
    position: relative;
    margin: 10px;
    top: 10px;
    overflow: hidden;
}

.bottom-text {
    position: absolute;
    text-align: center;
}

.item-img {
    position: relative;
    margin: 0px;
    left: -50px;
    scale: 0.7;
}

.item-headline {
    padding: 15px;
    font-weight: bolder;
}

.category-box {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    height: 830px;
    /* width: ; */
    position: absolute;
    top: 65%;
    bottom: 35%;
    background-image: linear-gradient(to bottom, rgba(256, 256, 256, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
    padding: 10px 25px;
    margin-bottom: 10px;
}

.category-items {
    display: flex;
    height: 400px;
    width: 310px;
    flex-direction: column;
    background-color: #ffffff;
}

.type-B-card {
    padding-left: 15px;
}

.more-padding {
    padding: 35px;
    display: flex;
    justify-content: center;
}

.content-space {
    height: 530px;
}

.back_to_top {
    width: 100%;
    height: 20px;
    background-color: #485769;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 15px 0;
    color: #ffffff;
    font-size: 14px;
}

.help-footer {
    display: flex;
    background-color: #232f3e;
    justify-content: space-around;
    padding: 50px;
}

.footer-help-list {
    color: #ffffff;
    list-style: none;
    font-size: 12px;
}

ul.footer-help-list li {
    margin: 10px;
}

.top-heading {
    font-size: large;
    font-weight: bold;
}

ul.footer-help-list li:hover {
    text-decoration: underline;
}

.more-products {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(7, 1fr);
    padding: 50px;
    background-color: #131a22;
    gap: 15px;
}

.bottom-help-list {
    list-style: none;
}

ul.bottom-help-list li:hover {
    text-decoration: underline;
}

ul.bottom-help-list li:first-child {
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    padding-bottom: 2px;
}

ul.bottom-help-list li:nth-child(2) {
    font-size: 11px;
    color: #999999;
}

.copyright {
    color: #DDDDDD;
    font-size: 12px;
    height: 25px;
    text-align: center;
    padding: 15px;
    background-color: #121a22;
}